body {
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  color: blueviolet;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: 5px;
  padding: 10px 10px;
  border-style: solid;
  border-radius: 15px;
}
