.weather-app {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 4px;
  text-align: center;
  max-width: 600px;
  background-color: #ccf9f8;
}

h2 {
  color: blueviolet;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: 5px auto;
  padding: 10px auto;
  border-style: solid;
  border-radius: 10px;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: green;
  margin: 5px auto;
  padding: 20px auto;
  border-style: solid;
  border-radius: 10px;
}

p,
a {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: grey;
  display: block;
  margin: auto 0px;
  padding: auto 0px;
}
